<ion-content class="ion-text-center">

    <form>
        <ion-row style="padding-top: 40px;">
            <ion-col size="12">
                <ion-card color="dark" style="border-radius: 25px; box-shadow: 2px 2px 10px #666;">
                    <img src="/assets/c-booking-logo.png" alt="C-Booking Logo" height="250px" width="250px" />

                    <ion-card-title class=" ion-padding-top " color="light">LogIn</ion-card-title>
                    <ion-card-content>
                        <ion-item lines="none">
                            <ion-icon slot="start" name="person" color="light"></ion-icon>
                            <ion-input type="text" placeholder="Usuario" color="light"></ion-input>
                        </ion-item>
                        <ion-item lines="none ">
                            <ion-icon slot="start" name="lock-closed" color="light"></ion-icon>
                            <ion-input type="password" placeholder="Contraseña" color="light"></ion-input>
                        </ion-item>
                        <ion-col size="6 ">
                            <ion-button expand="block " shape="round" color="light">
                                Login
                            </ion-button>
                        </ion-col>

                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-col size="12 ">
            <ion-label style="color: white; ">¿No tienes cuenta aún?</ion-label>
            <ion-button expand="block " shape="round" color="light" style="padding-left: 30px; padding-right: 30px;">
                Registrar
            </ion-button>
        </ion-col>

    </form>

</ion-content>
