<app-header></app-header>

<ion-content class="ion-padding">
    <ion-card style="border-radius: 15px; box-shadow: 2px 2px 10px black; display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;">
        <ion-list lines="none">
            <div>
                <ion-item class="ion-padding-top">
                    <ion-avatar slot="start">
                        <img src="/assets/fjcb.jpeg" />
                    </ion-avatar>
                </ion-item>
            </div>
            <ion-item>
                <ion-card-title mode="md">Francisco José Clavijo Berzosa</ion-card-title>
            </ion-item>
            <ion-item style="margin-top: 15px;">
                <ion-icon name="mail-outline" slot="start" color="dark"></ion-icon>
                <ion-label>fjclavijo00@gmail.com</ion-label>
            </ion-item>
            <ion-item style="margin-top: 15px;">
                <ion-icon name="location-outline" slot="start" color="dark"></ion-icon>
                <ion-label>Castellar, Jaén</ion-label>
            </ion-item>
            <ion-item style="margin-top: 15px;">
                <ion-icon name="call-outline" slot="start" color="dark"></ion-icon>
                <ion-label>+34 619 57 42 90</ion-label>
            </ion-item>
            <ion-item class="ion-padding-bottom" style="margin-top: 15px;">
                <ion-icon name="share-social-outline" slot="start" color="dark"></ion-icon>
                <ion-button href="https://www.linkedin.com/in/francisco-jos%C3%A9-clavijo-berzosa-5843431a7/" target="_blank" fill="clear" color="dark">
                    <ion-icon class="socials " name="logo-linkedin"></ion-icon>
                </ion-button>
                <ion-button href="https://twitter.com/FJClavijo9_" target="_blank" fill="clear" color="dark">
                    <ion-icon class="socials " name="logo-twitter"></ion-icon>
                </ion-button>
                <ion-button href="https://www.instagram.com/fjclavijo00_/" target="_blank" fill="clear" color="dark">
                    <ion-icon class="socials " name="logo-instagram"></ion-icon>
                </ion-button>
                <ion-button href="https://github.com/FClavijo00" target="_blank" fill="clear" color="dark">
                    <ion-icon class="socials " name="logo-github"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>