<app-header></app-header>

<ion-content class="ion-padding ion-text-center">

    <ion-img src="/assets/futbol7.png"></ion-img>
    <ion-img src="/assets/futsal.png"></ion-img>
    <ion-img src="/assets/padel.png"></ion-img>
    <ion-img src="/assets/tenis.png"></ion-img>
    <ion-img src="/assets/basket.png"></ion-img>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="light" routerLink="/add-reserva">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>